<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="DBConnect.NorthWindConnectionString"
			 connectionString ="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NorthWind;Data Source=DESKTOP-9JE1720\SQLEXPRESS"
			 providerName ="System.Data.OleDb"
		 />
	</connectionStrings>
</configuration>