education2022Repo\VladimirGlinskii.devFundamentals\VladimirGlinskii.devFundamentals.firstConsoleApplication\bin\

education2022Repo\VladimirGlinskii.devFundamentals\VladimirGlinskii.devFundamentals.firstConsoleApplication\obj\
