
.warn {
    color: #b34af3;
    background: aliceblue;
}

.feedbackImg {

    background: url(../media/alien.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 60%;
    height: 35vh;
    margin: auto;
    margin-top: 5%;
    background-position: center;

}

form div {
    text-align: center;
    font-size: 20px;
    padding: 0.5vh;
}

form p {
    text-align: left;
    display: inline-block;
    width: 30%;
    margin: auto;
}

form div input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}

.textareaLabel {
    display: block;
    width: 73%;
    text-align: left;
}

textarea {
    width: 73%;
    margin-top: 10px;
}
