p, p * {

    color: #708090;
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:70px;
    padding-left: 20px;
    border-left: solid 20px #FFD700;

}

div .interesting {

    font-style:italic;

}

#info{

    background-color: #FAF0E6;
    padding: 0;
    margin: 0 auto;
    width: 800px;

}