@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

h3{
    font-family: 'Unbounded', cursive;
}

a{
    font-family: 'Unbounded', cursive;
}

p{
    font-family: 'Unbounded', cursive;
}

body{
    background-color: #f3f3f3;
    margin: unset;
}

.background{
    background-color: white;
    margin: auto;
    width: 75vw;
    height: 100vh;
}

.cover{
    width: 70%;
    margin: auto;
}

.pageHeader {
    height: 10vh;
    font-size: 24px;
    padding-top: 5vh;
    padding-bottom: 2vh;
    text-align: center;
    vertical-align: center;
    margin: unset;
}

/*start page*/

.startPageVideoBlock{
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0.3;
}

.wrapper{
    border: #f3f3f3 solid 4px;
    overflow: hidden;
}

video{
    height: 120%;

}

.startPageButtonsBlock{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



.startPageButtonsBlock a {
    text-decoration: none !important;
}

.startPageButton {
    width: 90%;
    height: 25vh;
    display: flex;
    border: solid 1px #f3f3f3;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.startPageButton p {
    margin: auto;
    padding: 5%;
    font-weight: bold;
    font-size: 22px;
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
    user-select: none;
}

.toHistory{
    background: url(media/history.jpeg);
    background-size: cover;
}

.toGallery{
    background: url(media/surface.png);
    background-size: cover;
}

/* Feedback page */

.warn {
    color: #b34af3;
    background: aliceblue;
}

.feedbackImg{

    background: url(media/alien.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 60%;
    height: 35vh;
    margin: auto;
    margin-top: 5%;
    background-position: center;

}

form div {
    text-align: center;
    font-size: 20px;
    padding: 0.5vh;
}

form p{
    text-align: left;
    display: inline-block;
    width: 30%;
    margin: auto;
}

form div input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}

.textareaLabel{
    display: block;
    width: 73%;
    text-align: left;
}

textarea {
    width: 73%;
    margin-top: 10px;
}

.submitButton{

}

/* History */

.head{
    height: 10vh;
}

.history
{
    height: 100%;
    overflow: auto;
    border-top: 1px double black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    margin-top: 20px;

}

.history img {
    float: left;
    width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;

}

.history p {
    text-indent: 50px;
}

h4 {
    display: inline-block;
    margin-bottom: unset;
    margin-top: unset;
}

.overflow{
    overflow: auto
}

/* Gallery page */

.galleryCover{
    margin: auto;
    width: 90%;
}

.gallery{
    width: 100%;
}

.marsPhoto{
    width: 30%;
    display: inline-block;
    margin: 0.75vw;
    border-radius: 10px;
    border: white solid 2px;
}

.marsPhoto:hover{
    border-color: dodgerblue;
}


.bottomButtons{
    position: fixed;
    bottom: 30px;
    right: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.bottomButtons a {
    width: 150px;
    display: inline-block;
    text-align: center;
    background-color: #fff8dc;
    margin: 5px;
    border-radius: 10px;
    border: white solid 2px;
    padding: 5px;
}

a:hover{
    cursor: pointer;
    border-color: bisque;
}

.locker {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.viewerContainer{
    display: flex;
    justify-content: center;
}

.viewerContainer img {
    max-width: 60vw;
    max-height: 80vh;

    opacity: 1;
    position: fixed;
    top: 10vh;

    z-index: 3;
    border-radius: 20px;
    border: white solid 5px;

}

.goBackButton a{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 60px;
}

.goFeedbackButton a{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: url("./media/ufo.svg");
    background-size: cover;

}